  #folderList a,
  #folderList div {
    padding-top: 3px;
  }
  #debug {
    padding: 0.5em;
    border: thin inset;
    font: small monospace;
    color: black;
  }
  .audio, .video, .image, .server, .folder, #folderlist a {
    display: block;
    padding-top: 3px;
    padding-left: 20px;
  }
  a.folder {
    color: #FF9900;
    padding-left: 40px;
    background: url(image/folder_closed.png) left center no-repeat,
                url(image/icon_folder.png) left 20px center no-repeat;
  }
  a.folder.opened {
    background: url(image/folder_opened.png) left center no-repeat,
                url(image/icon_folder.png) left 20px center no-repeat;
  }
  .audio {
    color: #00CC66;
    background: url(image/icon_music.png) left center no-repeat;
  }
  .video {
    color: #00CC66;
    background: url(image/icon_video.png) left center no-repeat;
  }
  .image {
    color: #00CC66;
    background: url(image/icon_image.png) left center no-repeat;
  }
  .server {
    background: url(image/icon_server.png) left center no-repeat;
    font-weight: bold;
  }
  .sublist {
    margin-left: 20px;
  }
  .player {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  #controlButtons {
    position: fixed;
    bottom: 0px;
    right: 20px;
  }
  a:hover {
    color: #003399;
  }
  a:visited {
    color: #999999;
  }
  .hide {
    display: none;
  }